@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Open Outlook Email</h2>
    <form action="/Email/OpenOutlook" method="post">
        <button type="submit">Open Outlook</button>
    </form>
</div>

